datasets
transformers==4.51.3
torch
rouge_score
optuna
huggingface_hub
torchvision
kaggle
kagglehub
pandas
numpy
matplotlib
seaborn
nltk
python-dotenv
scikit-learn
bert-score
joblib
accelerate>=0.26.0
